.Modal {
  &__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    width: 24rem;
    min-height: 33rem;
    background-color: var(--color-white);
    border-radius: var(--border-radius-lg);
    position: relative;
    padding: 3.5rem 2.5rem;
  }
}

.close-button {
  position: absolute;
  background-color: var(--color-light-gray);
  padding: 0.5rem;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
}