$colors : (
    gray: #E5E5E5,
    green:#50DAA8,
    red: #E43F3F,
    light-gray: #F2F2F2,
    black: #000000,
    white: #FFFFFF,
);

:root {
  //Fonts:
  --base-font-family: "Roboto", sans-serif;
  --font-weight-regular: 400;
  --fornt-weight-semi-bold: 500;
  --font-md: 1rem;
  --font-lg: 1.5rem;
  --font-xl: 2.5rem;
  --font-xxl: 3.75;

  //Colors to css var (hex and rgb):
  @if $colors {
    @each $key, $value in $colors {
        --color-#{$key} : #{$value};
        --color-#{$key}--rgb : #{HexToRGB($value)};
    }
  }

  //Other:
  --border-radius-md: 16px;
  --border-radius-lg: 24px;
}