@import "fonts";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: var(--base-font-family);
  background-color: var(--color-gray);
  font-size: var(--font-md);
  color: var(--font-color);
}

h1, h2 {
  font-size: var(--font-xl);
}

.btn {
  border-radius: var(--border-radius-md);
  padding: 1rem;
  cursor: pointer;
  background-color: transparent;
  font-size: var(--font-md);
  text-transform: uppercase;
  font-weight: var(--fornt-weight-semi-bold);
  border: none;

  &-default {
    border: 1px solid var(--color-gray);
    color: var(--color-green);

    &:hover {
      background-color: var(--color-green);
      border: 1px solid var(--color-green);
      color: var(--color-white);
    }
  }
  
  &-success {
    background-color: var(--color-green);
    color: var(--color-white);
  }

  &.lg {
    padding: 1.5rem 1rem;
  } 
}

.form-input {
  padding: 16px;
  border-radius: var(--border-radius-md);
  border: 1px var(--color-gray) solid;
  width: 100%;
  position: relative;

  &::placeholder {
    font-size: var(--font-md);
  }

  &.valid, &:focus {
    border: 1px var(--color-green) solid;
  }

  &.error {
    border: 1px var(--color-red) solid;
  }

  &:focus {
    outline: none;
  }
}