@import "fonts";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100vh;
  font-family: var(--base-font-family);
  background-color: var(--color-gray);
  font-size: var(--font-md);
  color: var(--color-black);
  font-weight: var(--font-weight-regular);
}

h1, h2 {
  font-size: var(--font-xl);
}

.btn {
  border-radius: var(--border-radius-md);
  padding: 1rem;
  cursor: pointer;
  background-color: transparent;
  font-size: var(--font-md);
  text-transform: uppercase;
  font-weight: var(--fornt-weight-semi-bold);
  border: none;
  margin: auto 0;

  &-default {
    border: 1px solid var(--color-gray);
    color: var(--color-green);

    &:hover {
      background-color: var(--color-green);
      border: 1px solid var(--color-green);
      color: var(--color-white);
    }
  }

  &.arrow-right {
    position: relative;

    &:hover {
      &:after {
        content: url(../images/arrow-right.svg);
        width: 10px;
        position: absolute;
      }
    }
  }
  
  &-success {
    background-color: var(--color-green);
    color: var(--color-white);
  }

  &.lg {
    padding: 1rem 3rem;
  } 
}

.form-input {
  padding: 16px;
  border-radius: var(--border-radius-md);
  border: 1px var(--color-gray) solid;
  width: 100%;
  position: relative;

  &::placeholder {
    font-size: var(--font-md);
  }

  &.valid, &:focus {
    border: 1px var(--color-green) solid;
  }

  &.error {
    border: 1px var(--color-red) solid;
  }

  &:focus {
    outline: none;
  }
}

.input-with-icon {
  display: flex;
  position: relative;

  &_icon {
    position: absolute;
    right: 15px;
    top: 14px;
    width: 22px;
    height: 22px;
  }
}

.control {
  margin-bottom: 1rem;

  &-error {
    font-size: var(--font-sm);
    color: var(--color-red);
  }
}

.w-100 {
  width: 100%
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.price {
  font-size: var(--font-xxl);
  position: relative;
  padding-left: 15px;

  &::before {
    content: "$";
    font-size: var(--font-lg);
    position: absolute;
    top: 14px;
    left: 0;
  }
}

.label {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}